{% extends "template.jinja2" %}

{% block content %}
<div class="content">
    <form method="POST" action="">
        <div>PDF*: <input type="text" name="PDF" /> </div>
        <div>Text*: <input type="text" name="text" /> </div>
        <div>Placement x-axis*: <input type="text" name="x" /> </div>
        <div>Placement y-axis*: <input type="text" name="y" /> </div>
        <input type="submit" value="Generate"/>
        <div>*Required fields</div>
    </form>
</div>

{% endblock content %}
