<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fandango, editing: {{ pdf_name }}</title>
    <link rel="stylesheet"
          href="{{ request.static_url('deform:static/css/bootstrap.min.css') }}"
          type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet"
          href="{{ request.static_url('deform:static/css/form.css') }}"
          type="text/css"/>
    <script src="{{ request.static_url('deform:static/scripts/jquery-2.0.3.min.js') }}"
            type="text/javascript"></script>
    {% if reqts %}
      {% for css in reqts["css"] %}
        <link rel="stylesheet" href="{{ request.static_path(css) }}"/>
      {% endfor %}
      {% for js in reqts["js"] %}
        <script src="{{ request.static_path(js) }}"></script>
      {% endfor %}
    {% endif %}


</head>
<body>
    {% block content %}
        <h1>Fyll i formulär - "{{ pdf_name }}"</h1>
        <p>Fill out the form and press "Create" to generate a new PDF with your text in place.</p>
        <p>This may take up to a couple of minutes while the information is processed. </p>
        <p>The PDF will be presented for inspection, download and printing in your browser once it's done. </p>
        <p><a href="{{ request.route_url('preview', pdf_id=request.matchdict['pdf_id'])}}">View unedited PDF: "{{ pdf_name }}"</a></p>
        <div class="container">
          {% for flash in request.session.pop_flash() %}
            <div class="alert alert-info flash">
              {{ flash }}
            </div>
          {% endfor %}
        {{ form|safe }}
        <script type="text/javascript">
            deform.load()
        </script>
    {% endblock content %}
</body>
</html>
