<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fandango: Intyg- och formulärhantering</title>
</head>
<body>
    <h1>{{ view.view_name }} - {{ page_title }}</h1>
    <p>Anmälan certifikatkonto: 
        <a href="{{ request.route_url('form_view', pdf_id='1')}}">edit</a> 
        <a href="{{ request.route_url('preview', pdf_id='1')}}">preview</a>
    </p>
    <p>Ansökan om elcertifikat: 
        <a href="{{ request.route_url('form_view', pdf_id='2')}}">edit</a> 
        <a href="{{ request.route_url('preview', pdf_id='2')}}">preview</a>
    </p>
    <p>Avtal elcertifikat: 
        <a href="{{ request.route_url('form_view', pdf_id='3')}}">edit</a> 
        <a href="{{ request.route_url('preview', pdf_id='3')}}">preview</a>
    </p>
    <p>Fullmakt: 
        <a href="{{ request.route_url('form_view', pdf_id='4')}}">edit</a>
        <a href="{{ request.route_url('preview', pdf_id='4')}}">preview</a>
    </p>
</body>
</html>
