<!DOCTYPE html>
<html lang="en">
<head>
    <title>PDF creation</title>
</head>
<body>
    <h1>PDF creation</h1>
    <p>Present a progress bar</p>
    <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_percent }}">{{ progress_percent }}
        </div>
    </div>
</body>
</html>
