<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <title>{% block title %}Modio Fandango{% endblock %}</title>

    {% for css in request.registry.deform_global_resources.css %}
      <link rel="stylesheet" href="{{ request.static_path(css) }}"/>
    {% endfor %}
    {% if form_resources %}
      {% for css in form_resources.css %}
        <link rel="stylesheet" href="{{ request.static_path(css) }}"/>
      {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="{{ request.static_path('afase:static/css/afase.css') }}"/>
  </head>
  <body>
    {% include "header.jinja2" %}
    <div class="container">

      {% for flash in request.session.pop_flash() %}
        <div class="alert alert-info flash">
          {{ flash }}
        </div>
      {% endfor %}

      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
